$font-stack: Georgia
$primary-black: #111

body
	padding-top: 50px

p
	margin: 0 0 10px
	font-family: $font-stack

.row
	padding: 10px 0px

.container
	background:
		color: #fff
		font-family: $font-stack