<ul class="navigation-menu list-unstyled">
  <li><a href="{{site.baseurl}}/bands.html" class="{% if page.url == '/bands.html' %}active{% endif %}">Bands</a></li>
  <li><a href="{{site.baseurl}}/studios.html" class="{% if page.url == '/studios.html' %}active{% endif %}">Studios</a></li>
  <li><a href="{{site.baseurl}}/venues.html" class="{% if page.url == '/venues.html' %}active{% endif %}">Venues</a></li>
  <li><a href="{{site.baseurl}}/events.html" class="{% if page.url == '/events.html' %}active{% endif %}">Events</a></li>
</ul>
