<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">ROOTS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navigation-menu list-unstyled">
        <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}active{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}active{% endif %}">About</a></li>
        <li><a href="{{site.baseurl}}/services" class="{% if page.url == '/services' %}active{% endif %}">Services</a></li>
        <li><a href="{{site.baseurl}}/industries.html" class="{% if page.url == '/industries.html' %}active{% endif %}">Industries</a></li>
        <li><a href="{{site.baseurl}}/portfolio" class="{% if page.url == '/portfolio' %}active{% endif %}">Portfolio</a></li>
        <li><a href="{{site.baseurl}}/blog.html" class="{% if page.url contains 'blog' %}active{% endif %}">Blog</a></li>
        <li><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}active{% endif %}">Contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>